# Basic objects and Data Structure

### Arithmetic

In [1]:
# Addition
2+2

4

In [2]:
# Subtraction
24-1

23

In [3]:
# Multiplication
2*25

50

In [4]:
# Division
3/2

1.5

In [5]:
# Floor Division :  returns the integer number of Division
7//4

1

In [6]:
# Remainder
7%2

1

In [7]:
# Powers
2**3 
# note : we can using **0.5 as a root square of any number

8

### Comparison

<h4> Table of Comparison Operators </h4><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [8]:
1 < 2 < 3

True

In [9]:
# and operator
1<3 and 3>2

True

In [10]:
1==2 or 2<3

True

In [11]:
2 != 1

True

### Variable
instead of keep repeating every operations each time we can assign values and results as a variable 
###### - some Rules for Variables
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols: :'",<>/?|\!@#%^&*~-+
* avoid using Python built-in keywords

In [12]:
# assignment the variable
a = 10*5+54/5
a

60.8

In [13]:
# determine the type of the variable 
type(a)

float

### Strings
To create a string in Python you need to use either single quotes or double quotes.

In [14]:
# declare a string
my_string = 'hello world'
my_string

'hello world'

In [15]:
# printing a string
print(my_string)

hello world

In [16]:
# input a string 
my_str = input("string : ")
print(my_str)

string : i am here
i am here

* string index

In [17]:
print(my_string[0])      # printing the first element 
print(my_string[-1])     # printing the last element
print(my_string[:4])     # print from first to fifth element

h
d
hell

* String Properties

In [18]:
my_string[0] = 'x'            # we can redefine Any element in the string

TypeError: 'str' object does not support item assignment

In [19]:
# concatenation  : append a string to another string 
my_string + " i am here"

'hello world i am here'

* String Methods

In [20]:
# Upper Case a string
print(my_string.upper())
# Lower case
print(my_string.lower())
# Split a string by blank space (this is the default)
print(my_string.split())
# Split by a specific element (doesn't include the element that was split on)
print(my_string.split('h'))
# insert a string or a variabl in side another string
print('this program says : {}'.format(my_string))

HELLO WORLD
hello world
['hello', 'world']
['', 'ello world']
this program says : hello world

### Lists
it is a sequence of objects in one variable

In [21]:
# Assign a list to an variable named my_list
my_list = [1,2,3,2,4]

In [22]:
# note : we can redefine the list it can have different types of objects too .
my_list = ['A string',23,100.232,'o']

* index and slice

In [23]:
print(my_list[0])              # print the first element
print(my_list[1:])             # printing from the first element to the last one

A string
[23, 100.232, 'o']

In [24]:
my_string[100]           # we can not access out of index

IndexError: string index out of range

In [25]:
# concatenating
my_list = my_list + ['new element']
print(my_list)
# Make the list double
print(my_list * 2)

['A string', 23, 100.232, 'o', 'new element']
['A string', 23, 100.232, 'o', 'new element', 'A string', 23, 100.232, 'o', 'new element']

* List Methods

In [26]:
# Append
list1 = [1.5,68,9]
list1.append('append me!')
list1

[1.5, 68, 9, 'append me!']

In [27]:
# accessing the last added element  : remember default popped index is -1
popped_item = list1.pop()
popped_item

'append me!'

In [28]:
# Use reverse to reverse order (this is permanent!)
list1.reverse()
list1

[9, 68, 1.5]

In [29]:
# sorting
list1.sort()
list1

[1.5, 9, 68]

* multi-dimensional list

In [30]:
# Let's make three lists
lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]
# Make a list of lists to form a matrix
matrix = [lst1,lst2,lst3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
print(matrix[0])           # access the first vector
print(matrix[0][0])        # access an element

[1, 2, 3]
1

### Dictionaries
it is the mapping values with a user-defined index

In [32]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':1,'key2':2,'key3':3}
my_dict

{'key1': 1, 'key2': 2, 'key3': 3}

In [33]:
print(my_dict['key1'])          # access key value

1

In [34]:
# key has list value
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}   
print(my_dict['key2'][1])
my_dict['key1'] = 3        # we can redefine any value
print(my_dict['key1'])

23
3

* multi-dimensional Dictionaries

In [35]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}
print(d['key1']['nestkey']['subnestkey'])           # accessing the value

value

* Dictionaries Methods

In [36]:
# Create a typical dictionary
dic1 = {'key1':1,'key2':2,'key3':3}
# Method to return a list of all keys 
dic1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [37]:
# Method to return a list of all values
dic1.values()

dict_values([1, 2, 3])

### Tuples
it is like lists but it can't be changed

In [38]:
# Create a tuple
t = (1,2,3)
t

(1, 2, 3)

In [39]:
print(t[0])   # Use indexing just like we did in lists

1

* Tuples Methods

In [40]:
print(t.index(1))        # return the index of any existed value
print(t.count(2))        # return the number of repeats

0
1

* Immutability

In [41]:
t[0]= 'change'          # we can not change any element in the list

TypeError: 'tuple' object does not support item assignment

In [42]:
t.append('nope')         # we can not append any element to the list

AttributeError: 'tuple' object has no attribute 'append'

### Sets 
it is like the mathematical sets

In [43]:
# Create a list with repeats
set1 = {1,1,2,2,3,4,5,6,1,1}          # note : in mathematical sets no repeatation
set1

{1, 2, 3, 4, 5, 6}

### Files

In [44]:
# first method
my_file = open('test.txt','a+')
my_file.write('\nThis is text being appended to test.txt')
my_file.write('\nAnd another line here.')

23

In [45]:
my_file.seek(0)
print(my_file.read())
my_file.close()

This is text being appended to test.txt
And another line here.

In [46]:
# second method 
with open('test1.txt',mode='w+') as f : 
    f.write(' any input statment')
    f.read()

* Appending to a file

In [47]:
my_file = open('test.txt','a+')
my_file.write('\nThis is text being appended to test.txt')
my_file.seek(0)
print(my_file.read())

This is text being appended to test.txt
And another line here.
This is text being appended to test.txt

* iterating a file

In [48]:
for line in open('test.txt'):
    print(line)

This is text being appended to test.txt

And another line here.

This is text being appended to test.txt